* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
   
}

@import "boje";


.all {
    display: flex;
    flex-wrap: wrap;
    background-image: url("images/background.jpg");
    background-size: cover;
    .nav {
        border-right: 1px solid $rose;
        width: 20%;
        padding: 10px;
        @media  screen and (max-width:900px) {display: none; 
            border-right: 1px solid #fff;}
        .prva {
            display: flex;
            justify-content: space-between;
            
            .gemi {
                display: flex;
                align-items: center;

                h1 {
                    color: $olive;
                    font-size: x-large;
                }
            }

            img {
                height: 50px;
            }
        }

        .druga {
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            justify-content: center;
            @include inbox
        }

        .treca {
            padding-top: 20px;
            @media screen and (max-width:1200px) { display: none;}
            h1 {
                color: $olive;
            }

            @include inbox
        }
    }

    .main {
        width: 80%;
        padding: 20px;
        @media  screen and (max-width:900px){width: 100%;}
        .open {
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            #prva {
                display: none;
                @media  screen and (max-width:900px){display: block;}
            }
            img {
               
                width: 30px;
                height: 30px;
            }

            input {
                width: 30%;
                box-shadow: -1px -1px 5px 0px rgba(109, 103, 103, 0.75);
            }

            .korisnik {
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                .marko {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    color: $olive;
                    padding-right: 10px;
                    @include naslov;
                    @media  screen and (max-width:900px){display: none;}
                }

                #prva {
                    display: none;
                }img {
                    height: 30px;
                    width: 30px;
                }
            }
        }

        .velika {
            border: 1px solid $bg-blue;
            border-radius: 12px;
            
            .ikona {
                display: flex;
                border-bottom: 1px solid $bg-blue;
                align-items: center;
                padding: 5px;
                @media  screen and (max-width:900px){justify-content: space-evenly;}
                transition: transform 2000ms ease-out 8ms;
                img:hover {
                    @media  screen and (max-width:900px){ transform: rotate(360deg) translate(20px, 2px);}
                }
                img {
                    padding-right: 10px;
                      height: 30px;
                    width: 30px;
                    
                    #prva {
                        display: none;
                    } 
                
                   
                }
                h2 {
                    padding-right: 10px;
                    color: $olive;
                    font-size: 12px;
                    @media  screen and (max-width:900px){display: none;}
                }
            }
            .okvir {
                display: flex;
                flex-direction: column;
                transition: 10s transform ease ;
                .content:hover {
                    transform: scale(0.7);
                }
                .content {
                    margin: 10px;
                    background-color: $blue;
                    border: 1px solid $rose;
                    border-radius: 12px;
                    width: 99%;
                    display: flex;
                    padding: 10px;
                    justify-content: space-between;
                    color: #fff;
                    .sve {
                        display: flex;
                        justify-content: space-between;
                        .greska {
                            display: flex;
                    .text {display: block;
                        display: flex;
                        justify-content: space-between;
                        border-radius: 50%;
                        background-color: $bg-blue ;
                        margin-right: 10px;
                    p {
                        color: $beige;
                    }
                    }}}
                }
            }
        }
    }
}





