@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

.all {
  display: flex;
  flex-wrap: wrap;
  background-image: url("images/background.png");
  background-size: cover;
}

.all .nav {
  border-right: 1px solid #ffb4ac;
  width: 20%;
  padding: 10px;
}

@media screen and (max-width: 900px) {
  .all .nav {
    display: none;
    border-right: 1px solid #fff;
  }
}
.all .nav .prva {
  display: flex;
  justify-content: space-between;
}

.all .nav .prva .gemi {
  display: flex;
  align-items: center;
}

.all .nav .prva .gemi h1 {
  color: #679186;
  font-size: x-large;
}

.all .nav .prva img {
  height: 50px;
}

.all .nav .druga {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  justify-content: center;
}

.all .nav .druga .inbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #679186;
  padding: 10px;
  width: 90%;
}

.all .nav .druga .inbox img {
  height: 30px;
  padding-right: 10px;
}

.all .nav .druga .inbox h2 {
  color: #016393;
}

.all .nav .treca {
  padding-top: 20px;
}

@media screen and (max-width: 1200px) {
  .all .nav .treca {
    display: none;
  }
}
.all .nav .treca h1 {
  color: #679186;
}

.all .nav .treca .inbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #679186;
  padding: 10px;
  width: 90%;
}

.all .nav .treca .inbox img {
  height: 30px;
  padding-right: 10px;
}

.all .nav .treca .inbox h2 {
  color: #016393;
}

.all .main {
  width: 80%;
  padding: 20px;
}

@media screen and (max-width: 900px) {
  .all .main {
    width: 100%;
  }
}
.all .main .open {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.all .main .open #prva {
  display: none;
}

@media screen and (max-width: 900px) {
  .all .main .open #prva {
    display: block;
  }
}
.all .main .open img {
  width: 30px;
  height: 30px;
}

.all .main .open input {
  width: 30%;
  box-shadow: -1px -1px 5px 0px rgba(109, 103, 103, 0.75);
}

.all .main .open .korisnik {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.all .main .open .korisnik .marko {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #679186;
  padding-right: 10px;
  font-family: "Roboto", sans-serif;
}

.all .main .open .korisnik #prva {
  display: none;
}

.all .main .open .korisnik img {
  height: 30px;
  width: 30px;
}

.all .main .velika {
  border: 1px solid #016393;
  border-radius: 12px;
}

.all .main .velika .ikona {
  display: flex;
  border-bottom: 1px solid #016393;
  align-items: center;
  padding: 5px;
}

.all .main .velika .ikona img {
  padding-right: 10px;
  height: 30px;
  width: 30px;
}

.all .main .velika .ikona img #prva {
  display: none;
}

.all .main .velika .ikona h2 {
  padding-right: 10px;
  color: #679186;
  font-size: 12px;
}

.all .main .velika .okvir {
  display: flex;
  flex-direction: column;
  transition: 10s transform ease;
}

.all .main .velika .okvir .content:hover {
  transform: scale(0.7);
}

.all .main .velika .okvir .content {
  margin: 10px;
  background-color: #264e70;
  border: 1px solid #ffb4ac;
  border-radius: 12px;
  width: 99%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  color: #fff;
}

.all .main .velika .okvir .content .sve {
  display: flex;
  justify-content: space-between;
}

.all .main .velika .okvir .content .sve .greska {
  display: flex;
}

.all .main .velika .okvir .content .sve .greska .text {
  display: block;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  background-color: #016393;
}

.all .main .velika .okvir .content .sve .greska .text p {
  color: #ffebd3;
}

/*# sourceMappingURL=parcijalni.css.map */
/*# sourceMappingURL=parcijalni.css.map */

/*# sourceMappingURL=parcijalni.css.map */
